<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.min.css' %}">
    <link rel="stylesheet" href="{% static 'customs.css' %}">
    <script src="{% static 'main.min.js' %}"></script>
    <title>Team</title>


</head>
<body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
  
      var calendar = new FullCalendar.Calendar(calendarEl, {
        displayEventTime: false,
        initialDate: '2021-02-21',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,listYear'
        },
        events: {
          url: 'ics/feed.ics',
          format: 'ics',
          failure: function() {
            document.getElementById('script-warning').style.display = 'block';
          }
        },
        loading: function(bool) {
          document.getElementById('loading').style.display =
            bool ? 'block' : 'none';
        }
      });
  
      calendar.render();
    });
  
  </script>
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-12 bg-dark">
            {% include 'navbar.html'%}
          </div>
        </div>

        <div class="row margin-row">
          <div class="col-3">
            {% include 'sidebar.html'%}
          </div>
          <div class="col-9">
            <div id='calendar'></div>
          </div>
      </div>
        
      </div>

      <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
      <script>
        if("{{element_nav}}" == "calendar_nav"){
            document.getElementById("calendar-nav").classList.add("active");
        }
    </script>
</body>
</html>