<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customs.css' %}">
    <script type = "text/javascript" src="{% static 'loader.js' %}"></script>
    <script type = "text/javascript">
      google.charts.load('current', {'packages':['gantt']});
      google.charts.setOnLoadCallback(allCharts);

      function daysToMilliseconds(days) {
        return days * 24 * 60 * 60 * 1000;
      }
      function allCharts(){
        let dataProjects = JSON.parse('{{project_dic|safe}}');
        for(var key in dataProjects){
          drawChart(key, dataProjects);
        }
      }

      function drawChart(key, dataProjects) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');
        console.log(dataProjects[key]);
        let rows = []; 
        for(var col in dataProjects[key]){
          rows.push([dataProjects[key][col]["main_title"],
                      dataProjects[key][col]["main_title"], 
                      new Date(dataProjects[key][col]["start_date"]), 
                      new Date(dataProjects[key][col]["end_date"]),
                      daysToMilliseconds(3), 
                      25, 
                      null]);
        }
        console.log(rows);
        data.addRows(rows);
        // data.addRows([
        //   ['Research', 'Find sources',
        //   new Date(2015, 0, 1), new Date(2015, 0, 5), null,  100,  null],
        //   ['Write', 'Write paper',
        //   null, new Date(2015, 0, 9), daysToMilliseconds(3), 25, 'Research,Outline'],
        //   ['Cite', 'Create bibliography',
        //   null, new Date(2015, 0, 7), daysToMilliseconds(1), 20, 'Research'],
        //   ['Comple e', 'Hand in paper',
        //   null, new Date(2015, 0, 10), daysToMilliseconds(1), 0, 'Cite,Write'],
        //   ['Outline', 'Outline paper',
        //   null, new Date(2015, 0, 6), daysToMilliseconds(1), 100, 'Research']
        // ]);

        var options = {
          height: 275
        };

        var chart = new google.visualization.Gantt(document.getElementById(key +"-chart"));

        chart.draw(data, options);
      }
    </script>
    <title>Team</title>


</head>
<body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 bg-dark">
            {% include 'navbar.html'%}
          </div>
        </div>

        <div class="row margin-row">
          <div class="col-3">
            {% include 'sidebar.html'%}
          </div>
          <div class="col-9">
            
            <div class="accordion" id="accordionExample">
              {% for project in projects_resource %}
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#{{project.description_without_space}}" aria-expanded="true" aria-controls="collapse">
                      {{project.description_text}}
                    </button>
                  </h2>
                </div>
                <div id="{{project.description_without_space}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card text-center">
                    <div class="card-body">
                      <div id="{{project.description_without_space}}-chart"></div>
                    </div>
                  </div>
                  <div class="card text-center">
                    <div class="card-body">
                      <table class="table">
                        <thead class="thead-dark">
                          <th scope="col">Task</th>
                          <th scope="col">Start Date</th>
                          <th scope="col">End date</th>
                        </thead>
                        <tbody>
                          {% for task in project.tasks%}
                          <tr>
                            <td>{{task.main_title}}</td>
                            <td>{{task.date_created}}</th>
                            <td>{{task.end_date}}</th>
                            
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      

                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
          </div>
      </div>
        
      </div>

      <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
      <script type="text/javascript">
        document.getElementById("projects-nav").classList.add("active");
        document.getElementById("{{resource_selected}}").classList.add("active");
       

    </script>
</body>
</html>