    <h3>Resources</h3>
    <div class="list-group">
        <form action="" method="GET" id = "search">
          
            {% csrf_token %}
                   <input class="list-group-item list-group-item-action" type="submit" value="All" id="All" name = "resource">
            {% for name in resources_names %}
                    <input class="list-group-item list-group-item-action" type="submit" value={{name}} id={{name}} name = "resource">
                    <!-- <span class="badge badge-primary badge-pill">Active</span></li> -->
            {% endfor %}
        </form>
    </div>