.list-group-mine .list-group-item{
    background-color: blue;
    border-left-color: white;

}

.list-group-mine .list-group-item:hover{
    background-color: red;

}

body{
    background-color: white;

}

.margin-row{
    margin-top: 2%;
  }